// Header
//
// Indicate failure or success. <em>Required: `alert-success` or `alert-error`</em>
//
// Markup: <header class="header {$modifiers}">You mistyped your password.</div>
//
// .header-error - Indicate an error
// .header-success - Indicate success
//
// Styleguide 1.0

.header {
	@include scut-clearfix;
	background: #ccc;
	padding: 1em 0;
}

.header-error {
	background: red;
}

.header-success {
	background: purple;
}