@import 'bower_components/scut/dist/scut';
@include scut-reset;
@import 'bower_components/susy/sass/susy';
@import 'bower_components/compass-breakpoint/stylesheets/breakpoint';

@include border-box-sizing;

$susy:(
  columns: 8,
  global-box-sizing: border-box, 
  debug: (image:show)
);