@import 'init';

@import 'layout';

.wrap {
	@include container();
	height: 100vh;
}

.header {
	@include scut-clearfix;
	background: #ccc;
	padding: 1em 0;
}

.main-nav {
	@include span(10);
	margin-left: span(1 wide);
}

.main-nav-links {
	@include scut-list-inline(2em);
	float: right;
}