body {
	background: rgba(0,0,255,.2);
	margin: 0;
}

.lorem {
	@include span(9 wide);
	margin-right: 0;
	padding: gutter();
}

.ipsum {
	@include span(3 last);
	background: #eee;
	padding: gutter();
}

