@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}