<header class="header">
  <nav class="main-nav">
    <ul class="main-nav-links">
      <li class="main-nav-links__item"><a href="">Link</a></li>
      <li class="main-nav-links__item"><a href="">Link</a></li>
      <li class="main-nav-links__item"><a href="">Link</a></li>
      <li class="main-nav-links__item"><a href="">Link</a></li>
    </ul>
  </nav>
</header>
